<aside class="author-profile">
  {% if site.author.avatar %}
    <img class="avatar" src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }} profile image">
  {% endif %}
  <h2>{{ site.author.name }}</h2>
  {% if site.author.bio %}<p>{{ site.author.bio }}</p>{% endif %}
  {% if site.author.location %}<p><strong>Location:</strong> {{ site.author.location }}</p>{% endif %}
  {% if site.author.employer %}<p><strong>Institution:</strong> {{ site.author.employer }}</p>{% endif %}
  <ul class="author-links">
    {% if site.author.email %}<li><b>Email: {{ site.author.email }}</b></li>{% endif %}
    {% if site.author.orcid %}<li><a href="{{ site.author.orcid }}">ORCID</a></li>{% endif %}
    {% if site.author.googlescholar %}<li><a href="{{ site.author.googlescholar }}">Google Scholar</a></li>{% endif %}
    {% if site.author.linkedin %}<li><a href="{{ site.author.linkedin }}">LinkedIn</a></li>{% endif %}
  </ul>
</aside>
